{{template "header"}}
{{template "nav"}}

<h2>Audio Requests</h2>

<h3>Total Played Today {{.TotalPlayedSounds}}</h3>

<ul>
{{ range .MostPopular }}
<li>{{ .Name }} | {{ .Total }}</li>
{{ end }}
</ul>
