<!doctype html> <title>Beginland</title>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="https://mygeoangelfirespace.city/styles/style.css"> -->
    <meta charset="utf-8" http-equiv="refresh" content="1">
  <style>
    body {
      color: white;
      font-weight: bold;
      background-color: transparent;
      font-size: 1.3em;
    }

    h1 {
      color: #fff;
    }
  </style>
</head>


<body class="Jester">
  <h1>NEW JESTER {{ .Name }}</h1>

    <h2>Available Commands</h2>
    <ul>
      <li>!pulse</li>
      <li>!spin</li>
      <li> !h</li>
      <li> !j</li>
      <li> !k</li>
      <li> !l</li>
      <li>!zoomseal</li>
      <li>!rise</li>
      <li>!pulseseal</li>
      <li>!highlight</li>
      <li>!reaction</li>
      <li>!wideputin</li>
      <li>!tallbegin</li>
      <li>!alerts</li>
      <li>!beginworld</li>
      <li>!seal</li>
    </ul>
</body>


