{{define "header"}}
<!doctype html> <title>Beginword</title>
<html>
<head>
    <title>BeginWorld</title>
    <link rel="stylesheet" type="text/css" href="https://mygeoangelfirespace.city/styles/style.css">

  <style>
    .flex-container {
    display: flex;
    flex-direction: row;
  }
  </style>

</head>
<body>
      <h1><a href="{{$.Domain}}">BeginWorld</a></h1>
{{end}}

{{define "nav"}}
<nav>
  <a href='{{.Domain}}/users{{.Extension}}' >Users</a>
  <br />
  <a href='{{.Domain}}/commands{{.Extension}}' >Commands</a>
  <br />
  <a href='{{.Domain}}/user_requests{{.Extension}}' >User Requests</a>
  <br />
  <a href='{{.Domain}}/audio_requests{{.Extension}}' >Played Sounds</a>
</nav>
<hr />
{{end}}

{{define "footer"}}
</body>
</html>
{{end}}
