{{template "header" .}}
{{template "nav" .}}

<h2>{{ .Name }}</h2>
<h2>Cool Points {{ .CoolPoints }}</h2>
<h2>Street Cred: {{ .StreetCred }}</h2>
<h2>Command Count: {{ .CommandCount }}</h2>

<hr />

<h2>Lovers</h2>

<ul>
  {{ range .Lovers }}
    <li>
      <a href="{{$.Domain}}/users/{{ .Name }}{{$.Extension}}">{{ .Name }}</a>
    </li>
  {{ end }}
</ul>

<hr />

<ul>
  {{ range .Commands }}
    <li>
      <a href="{{$.Domain}}/commands/{{ .Name }}{{$.Extension}}">{{ .Name }}</a>
      - <b>Cost:</b> {{ .Cost }}

    <figure>
        <figcaption>Sample Command:</figcaption>
        <audio
            controls
            src="https://beginworld.us-east-1.linodeobjects.com/media/{{ .Filename }}">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
    </figure>

      <!-- <a href="https://mygeoangelfirespace.city/{{ . }}.html"> {{ . }}</a> -->
    </li>
  {{ end }}
</ul>
