{{template "header"}}
{{template "nav"}}

<h2>User Requests: {{ len .UserRequests }} </h2>

<ul>
  {{ range .UserRequests }}
    <li>
      {{ .ID }} - {{ .Name }} |
      {{ .StartTime }} - {{ .EndTime }} |
      <a href="{{.Url}}">{{.Name}}</a>

      <!-- <iframe width="420" height="315" -->
      <!--    src="{{.Url}}"> -->
      <!-- </iframe> -->

    </li>
  {{ end }}
</ul>
